.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 50%, #fecfef 100%); /* Gradiente rosa para el fondo */
  font-family: 'Arial', sans-serif;
  position: relative; 
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 192, 203, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
  border: 5px solid #ff69b4; 
  width: 500px; 
  height: 350px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 h1{
  color: #d63384; 
  margin-bottom: 30px;
  font-size: 24px;
}

.modal-content  h2{
  color: #d63384; 
  margin-bottom: 30px;
  font-size: 24px;
}

.modal-content p {
  color: #666;
  margin-bottom: 20px;
  font-size: 18px;
}

.buttons {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.yes-button, .no-button {
  padding: 15px 30px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.2s;
}

.yes-button:hover {
  transform: scale(1.1);
}

.no-button:hover {
  transform: scale(1.1);
}

.yes-button {
  background-color: #ff1493; /* Rosa fuerte */
  color: white;
}

.no-button {
  background-color: #dc3545; /* Rojo */
  color: white;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #d63384; /* Rosa oscuro para que combine */
  font-weight: bold;
}